{% extends "main.html" %}

{% block title %}Usuarios{% endblock %}

{% block buttonsAreaToolBar %}
    <a href="/usuario/novo" class="newButton">Novo</a>
{% endblock %}

{% block search %}
	{% include '_search.html' with action='/usuarios/' %}
{% endblock %}


{% block content %}
    {% for user in users %}
        <article class="item editableItem">
	        <a href="/usuario/editar/{{ user.id }}" class="simpleLink"><h3 class="titleItem">{{ user.username }}</h3></a>
	        <span class="editButton hidden">Editar</span>
	        <a href="/usuario/deletar/{{ user.id }}" class="deleteButton itemRightButton">Deletar</a>
	        <p class="descriptionItem">
		        {{ user.email }}
	        </p>
        </article>    
    {% endfor %}
{% endblock %}

