{% extends "main.html" %}

{% block title %}Clientes{% endblock %}

{% block buttonsAreaToolBar %}
    <a href="/cliente/novo" class="newButton">Novo</a>
{% endblock %}

{% block search %}
<form action="/clientes/nome/" method="get" id="formFilterAreaToolBar">
	<input name="customer_name" type="text" class="defaultInput minWidth300px width50percent" value="{{ customer_name }}" />
	<button type="submit" class="searchButton">Filtrar</button>
</form>
{% endblock %}

{% block content %}
    {% for customer in customers %}
        <article class="item editableItem">
	        <a href="/cliente/editar/{{ customer.id }}" class="simpleLink"><h3 class="titleItem">{{ customer.name }}</h3></a>
	        <span class="editButton hidden">Editar</span>
	        <a href="/cliente/deletar/{{ customer.id }}" class="deleteButton itemRightButton">Deletar</a>
	        <p class="descriptionItem">
		        {{ customer.phone }} | {{ customer.address }} | {{ customer.email }} | {{ customer.cpf }}
	        </p>
        </article>    
    {% endfor %}
{% endblock %}
    
