{% extends "main.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
    <article class="item itemInformation">
        <span><h3 class="titleItem">{{ product.name }}</h3></span>
        <span class="editButton hidden">Editar</span>
        <a href="/produto/deletar/{{ product.id }}" class="deleteButton itemRightButton">Deletar</a>
        <p class="descriptionItem">
	        {{ product.code }}  |  {{ product.category }}  |  R$ {{ product.price }}  |  {{ product.measure }}  |  Estoque {{ product.current_stock }}
        </p>
    </article>    
    <form action="/produto/atualizar/{{ product.id }}/" method="POST">
        {% include "product_form.html" %}
    </form>
{% endblock %}
