{% csrf_token %}
<div id="itemToolBar">
	<nav id="itemSubareas">
		<span class="selected">Dados</span>
	</nav>
	<div id="buttonsItemToolBar">
		<button type="submit" class="newButton">Salvar</button>
	</div>				
</div>
{% if form.errors %}
<div id="formError">
    <h4>Foram encontrados os seguintes erros:</h4>
    <ul>
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %} 
   			
<input name="id" type="hidden" value="{{ product.id }}" />
<div class="field">
	<label>Código:</label>	<input name="code" type="text" class="defaultInput" value="{{ product.code|default_if_none:''  }}" />
</div>
<div class="field">				
	<label>Nome:</label>	<input name="name" type="text" class="defaultInput minWidth300px" value="{{ product.name }}" />
</div>
<div class="field">				
	<label>Categoria:</label>
	
	<select name="category_id">
		{% for category in categories %}
		<option value="{{ category.id }}">{{ category.name }}</option>
		{% endfor %}
	</select>
	
	
<!-- 
	<select name="category_id" class="defaultInput">
	    {% for category in categories %}
	        <option value="{{ category.id }}" {% ifequal category.id product.category_id %}selected="selected"{% endifequal %} >{{ category.name }}</option>
	    {% endfor %}
	</select>
 -->
</div>
<div class="field">				
	<label>Unidade de Medida:</label>
	<select name="measure_id" class="defaultInput">
	    {% for measure in measures %}
	        <option value="{{ measure.id }}" {% ifequal measuere.id product.measure_id %}selected="selected"{% endifequal %} >{{ measure.unit }}</option>
	    {% endfor %}
	</select>
</div>
<div class="field">				
	<label>Preço:</label>    <span>R$ <span><input name="price" type="text" class="defaultInput" value="{{ product.price }}" />
</div>
<div class="field">				
	<label>Contribuição:</label>	<input name="tax" type="text" class="defaultInput" value="{{ product.tax }}" />
</div>
<div class="field">				
	<label>Tem estoque:</label>	<input name="has_stock" type="checkbox" class="defaultInput" value="{{ product.has_stock }}" />
</div>
<div class="field">				
	<label>Estoque atual:</label>	<input name="current_stock" type="text" class="defaultInput" value="{{ product.current_stock }}" />
</div>
<div class="field">				
	<label>Estoque mínimo:</label>	<input name="least_stock" type="text" class="defaultInput" value="{{ product.least_stock }}" />
</div>
