{% extends "main.html" %}

{% block title %}Categorias{% endblock %}

{% block buttonsAreaToolBar %}
    <a href="/categoria/nova" class="newButton">Novo</a>
{% endblock %}

{% block search %}
	{% include '_search.html' with action='/categorias/' %}
{% endblock %}


{% block content %}
    <article class="mockupItem editableItem">
        <a href="/categoria/editar/{ category.id }" class="simpleLink">
            <h3 class="titleItem">{ category.name }</h3>
        </a>
        <span class="editButton hidden">Editar</span>
        <a href="/categoria/deletar/{ category.id }" class="deleteButton itemRightButton">Deletar</a>
        <p class="descriptionItem">
            { category.code }
        </p>
    </article>
{% endblock %}
