{% csrf_token %}
<div id="itemToolBar">
	<nav id="itemSubareas">
		<span class="selected">Dados</span>
	</nav>
	<div id="buttonsItemToolBar">
		<button type="submit" class="newButton">Salvar</button>
	</div>				
</div>
{% if form.errors %}
<div id="formError">
    <h4>Foram encontrados os seguintes erros:</h4>
    <ul>
    {% for field in form %}
        {% if field.errors %}
            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}    			
<input name="id" type="hidden" value="{{ category.id }}" />
<div class="field">
	<label>Código:</label>	<input name="code" type="text" class="defaultInput" value="{{ category.code|default_if_none:''  }}" />
</div>
<div class="field">				
	<label>Nome:</label>	<input name="name" type="text" class="defaultInput minWidth300px" value="{{ category.name }}" />
</div>
