<!DOCTYPE HTML>
<html>
<head>
	<meta charset=utf-8> 
	<title>Artanit</title>
	<link href="main.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
	<header id="topBar" class="bodyMargin">
		<nav id="groups">
			<a href="#" class="simpleLink">Produtos</a>
			<span class="leftRight3px">|</span>
			<a href="#" class="simpleLink">Exercícios</a>
			<span class="leftRight3px">|</span>
			<a href="#" class="simpleLink">Usuários</a>
			<span class="leftRight3px">|</span>
			<a href="#" class="simpleLink">Luigi Tricoli</a>
		</nav>
	</header>
	<section id="groupContent" class="bodyLeftMargin">
		<nav id="areas">
			<ul>
				<li class="topBottom15px"><a href="#" class="simpleLink">Produtos</a></li>
				<li class="topBottom15px"><a href="#" class="simpleLink">Entrada de Produtos</a></li>
				<li class="topBottom15px"><a href="#" class="simpleLink">Saída de Produtos</a></li>
				<li class="topBottom15px"><a href="#" class="simpleLink">Categorias</a></li>
				<li class="topBottom1px"><span class="selected">Unidade de medidas</span></li>
			</ul>
		</nav>
		<div id="areaDetail">
			<div id="areaToolBar" class="bodyRighttMargin">
				<h2 class="title">Unidade de medidas</h2>
				<form action="#" method="get" id="formFilterAreaToolBar">
					<input type="text" class="defaultInput minWidth300px width50percent" value="Luigi Oliveira Tricoli" />
					<button type="submit" class="searchButton">Filtrar</button>
				</form>
				<div id="buttonsAreaToolBar">
					<a href="#" class="newButton">Novo</a>
				</div>
			</div>
			<div id="areaContent"  class="bodyRighttMargin">
				<article class="item itemInformation">
					<a href="#" class="simpleLink"><h3 class="titleItem">Carlos Anibal Vieira Araújo Junior</h3></a>
					<a href="#" class="deleteButton itemRightButton">Deletar</a>
					<p class="descriptionItem">
						235  |  (34) 3456-0987  |  Av. Cesário Alvim, 3521  |  Brasil
					</p>
				</article>
				<div id="itemToolBar">
					<nav id="itemSubareas">
						<span class="selected">Dados</span>
						<a href="#" class="simpleLink">Créditos</a>
					</nav>
					<div id="buttonsItemToolBar">
						<a href="#" class="newButton">Novo</a>
					</div>				
				</div>
				<form action="#" method="POST">
					<div class="field">
						<label>Nome:</label>
						<input type="text" class="defaultInput minWidth300px" value="Luigi Oliveira Tricoli" />
					</div>
					<div class="field">				
						<label>E-mail:</label>
						<input type="text" class="defaultInput minWidth300px" value="Luigi Oliveira Tricoli" />
					</div>
					<div class="field">					
						<label>CPF:</label>
						<input type="text" class="defaultInput" value="Luigi Oliveira Tricoli" />
					</div>
					<div class="field">					
						<label>Outros:</label>
						<input type="text" class="defaultInput" value="Luigi Oliveira Tricoli" />
					</div>
					<div class="field">					
						<label>Outros:</label>
						<input type="text" class="defaultInput" value="Luigi Oliveira Tricoli" />
					</div>
					<div class="field">					
						<label>Outros:</label>
						<input type="text" class="defaultInput" value="Luigi Oliveira Tricoli" />
					</div>
					<div class="listField">
						<h5 class="listFieldLable">Telefones</h5>
						<ul>
							<li>
								<a href="#" class="removeLine"><img src="circular_remove.png" alt="adicionar nova linha" /></a>
								<span>Av. Suiça"</span>
								<span>164</span>
								<span>APTO 103</span>
								<span>Tibery</span>
								<span>Uberlândia</span>
							</li>							
							<li>
								<a href="#" class="removeLine"><img src="circular_remove.png" alt="adicionar nova linha" /></a>
								<span>Av. Suiça"</span>
								<span>164</span>
								<span>APTO 103</span>
								<span>Tibery</span>
								<span>Uberlândia</span>
							</li>							
							<li>
								<a href="#" class="removeLine"><img src="circular_remove.png" alt="adicionar nova linha" /></a>
								<span>Av. Suiça"</span>
								<span>164</span>
								<span>APTO 103</span>
								<span>Tibery</span>
								<span>Uberlândia</span>
							</li>														
							<li>
								<a href="#" class="removeLine"><img src="circular_remove.png" alt="adicionar nova linha" /></a>
								<input type="text" class="defaultInput" value="Av. Suiça" />
								<input type="text" class="defaultInput" value="164" />
								<input type="text" class="defaultInput" value="APTO 103" />
								<input type="text" class="defaultInput" value="Tibery" />
								<input type="text" class="defaultInput" value="Uberlândia" />
							</li>
							<li class="finalLine">
								<a href="#"><img src="circular_add.png" alt="adicionar nova linha" /></a>
							</li>							
						</ul>
					</div>					
					<div class="listField">
						<h5 class="listFieldLable">Endereços</h5>
						<ul>
							<li>
								<span>Av. Suiça"</span>
								<span>164</span>
								<span>APTO 103</span>
								<span>Tibery</span>
								<span>Uberlândia</span>
							</li>							
							<li>
								<span>Av. Suiça"</span>
								<span>164</span>
								<span>APTO 103</span>
								<span>Tibery</span>
								<span>Uberlândia</span>
							</li>							
							<li>
								<span>Av. Suiça"</span>
								<span>164</span>
								<span>APTO 103</span>
								<span>Tibery</span>
								<span>Uberlândia</span>
							</li>														
							<li>
								<input type="text" class="defaultInput" value="Av. Suiça" />
								<input type="text" class="defaultInput" value="164" />
								<input type="text" class="defaultInput" value="APTO 103" />
								<input type="text" class="defaultInput" value="Tibery" />
								<input type="text" class="defaultInput" value="Uberlândia" />
							</li>
							<li class="finalLine">
								<a href="#" ><img src="circular_add.png" alt="adicionar nova linha" /></a>
							</li>								
						</ul>						
					</div>					
				</form>
			</div>
		</div>
	</section>
</body>
</html>